*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}

/* add fonts */
.raleway_normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.raleway-inter_font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* global style */
.btn_style {
  background: linear-gradient(45deg, #6a11cb, #2575fc);
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn_style:hover{
  box-shadow: 0 0 10px #888efb, 0 0 20px #888efb;
  color: #010740;
  transition: 0.6s;

}

.Primary_Color{
  color: #4E47FF;
}

.font_title{
  color: #252432;
}

/* navbare sytyle */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
  
}

nav >h2{
  font-size: 35px;
  font-weight: 800;
  background:linear-gradient(45deg, #11cb8d, #2575fc);
  color: rgb(255, 255, 255);
  border: none;
  padding-left: 5px;
  border-radius: 15px 0;
}

h2 >.nv_logo{
  font-weight: bolder;
  color: #ffffff;
  font-weight: 800;
  padding-right:5px ;
  padding-top: 1px;
 
}

/*---banner area----*/

.banner_bg{
  background-image: url(Assets/Hero-bg.png);
  width: 100%;
  height: 600px;
 
}

.banner_tex{
    width: 910px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    
}

.banner_tex >h3{
  font-size: 65px;
  font-weight: bold;
  color: #252432;
  align-items: center;
  margin-bottom: 37px;
   
}

/* mean body */
.main_body{
  background-color: #F5F8FF;
}

/*---Action area style--------- */

.action_area{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 1140px;
  padding: 100PX 0;
}

.action_tex{
   /* border: 2px solid black; */
   width: 517px;
}

.action_tex >h3{
  font-size: 42px;
  color: #252432;
  font-weight: 700;
}

.action_tex >p{
  color: #25243281;
  margin: 23px 0;
  font-size: 25px;
}

.action_img{
  width: 400px;
  height: 330px;
  border-radius: 48px;
}

/* Productive_area style */
.Productive_area{
  width: 1140px;
  height: 310px;
  margin: auto;
  background-color: #E5E7FF;
  margin-bottom: 70px;
  border-radius: 10px;
}

.Ph_tex{
  color: #252432;
  font-size: 40px;
  font-weight: bold;
  padding-top: 50px;
  text-align: center;
  
}

.rating{
  display: flex;
  justify-content: space-around;
}

.pp_cord{
  text-align: center;
}
.rating_P{
  color: #4E47FF;
  font-size: 80px;
  font-weight: bold;
  margin: 40px 0 -2px 0;
  font-family: inter;
  
}

.un_text{
  font-size: 20px;
  color: #00000063;
}

/* user say------------ */

.user_area{
  width: 1140px;
  height: 340px;
  margin: auto;
  /* border: 2px solid brown; */
}

.user_area >h2{
  font-size: 42px;
  font-weight: bold;
  margin: 100px 0 50px 0;
  color: #252432;
  text-align: center;
}

.user_contaener{
  display: flex;
  gap: 20px;
}

.user_card{
  padding: 24px;
  background-color: #ffffff;
  width: 365px;
  box-shadow: 0 0 15px #7e7d8b2b;
  border-radius: 15px;
}

.user_card >h3{
  padding: 24px 0 10px 0;
  color:#252432 ;
 
}

.user_card >p{
  padding:0 40px 24px 0;
  color: #303030;
}

.Reviewer_name{
  display: flex;
}
.re_img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.name_re{
  padding: 10px;
}

.name_re >h6{
  font-weight: bold;
  color: #757575;
}

.name_re >p{
  color: #a0a0a0;
  font-size: 10px;
  
}

/* focus area------------- */

.focus_area{
  width: 1140px;
  margin: auto;
  margin-top: 140px;
  text-align: center;
  background-color: #fffefe;
}

.focus_text >h3{
  font-size: 50px;
  padding: 70px 0 20px 0;
  font-weight: bold;
  color: #000000;
}

.focus_text >p{
  padding-bottom: 20px;
}
.focus_image{
  padding-top: 20px;
  width: 840px;
  height: 365px;
  border-radius: 50px;
  margin-bottom: 70px;
  
 }